*{
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --header: #fff;
  --menu: #0D1117;
  --texto: #000000;
}
body{
  overflow-x: hidden;
}
.container_app{
  width: 100vw;
  /* height: 100vh; */
  min-height: 100vh;
  background: #F8F9FA;
  display: flex;
}

.sidebar{
  width: 15vw;
  background-color: var(--menu);
  
}
.sidebar .titulo_panel{
  color: #fff;
  font-size: 1.3rem;
  text-align: center;
  font-weight: bold;
  padding-top: 20px;
}
.sidebar .subtitulo_panel{
  color: #fff;
  font-size: 1.1rem;
  text-align: center;
  font-weight: lighter;
}
.sidebar .menu{
  color: #fff;
  font-size: 1.1rem;
  text-align: center;
  font-weight: lighter;
}
.sidebar .opciones{
  list-style: none;
  padding: 0;
}
.sidebar .selected{
  color: #fff !important;
}
.sidebar .opciones a{
  display: block;
  text-decoration: none;
  color: rgb(167, 167, 167);
  padding: 10px 20px;
  font-size: 0.8rem;
}

header{
  width: 85vw;
  height: 8vh;
  background-color:var(--header);
  display: flex;
  align-items: center;
}
header .titulo_header{
  color: var(--texto);
  font-size: 1.3rem;
  padding-left: 20px;
  margin: 0;
}
.shadow{
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
}

.form_contrato{
  width: 50%;
  margin: 20px 0;
  background: #fff;
  border-radius: 8px;
  padding: 20px;
  position: relative;
}
.form_contrato small{
  color: rgb(171, 171, 171);
}

.button_add_contrato{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: #fff;
  border: none;
  background: green;
}
.cerrar_form{
  width: 25px;
  height: 25px;
  background: red;
  color: white;
  border: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 5px;
  right: 5px;
}
label{
  font-size: 0.85rem;
  font-weight: bold;
}